<html>
  <head>
    <title>Powerful web crypto tool</title>
  </head>
  <body>
    <h1>Powerful web crypto tool</h1>
    <h3>A very secure secret storage demo.</h3>
    <p>You can download some examples to verify it's security. Creator even added some secrets to the collection, as a sign of his trust in his code.</p>
    <form method="POST" action="/collection">
      <div style="padding: 10px 0px">
        <select name="secret">
          <option value="recipe">Pancakes recipe</option>
          <option value="gnu-linux">GNU Linux</option>
          <option value="fanfic">A cool fanfic about author</option>
          <option value="very-secret-totaly-not-flag">Authors secret</option>
          <option value="secret">Secret</option>
        </select>
      </div>
      <div>
        <input type="submit" value="download">
      </div>
    </form>
  </body>
</html>