<html>
<head>
    <title>Shippering!</title>
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <h1>aloha!</h1>
            <pre>Welcome to the automated fanfic generator.</pre>

            <form action="/" method="post">
                <input type="hidden" id="encoding" name="encoding" value="utf-8">

                <div class="content_2">
                    <b>Person 1:</b> <input id="person_1" name="person_1">
                </div>

                <div class="content_2">
                    <b>Person 2:</b> <input id="person_2" name="person_2">
                </div>

                <div class="content_2">
                    <button type="submit">submit</button>
                </div>
            </form>

            <div class="content_2">
                <pre>{{text_value|e}}</pre>
            </div>
        </div>
    </div>
</body>
</html>