<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baby login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="row text-center">
      <div class="container mt-3 rounded border-info border-top border-bottom bg-light w-50">
          <p name="hello">Hello <%= username %><br>Welcome to my website ^^</p>
      </div>

  </div>
  </body>
</html>